
.nav_container {
    margin-bottom: 50px;
}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: beige; */
    padding: 20px;
}


ul {
    display: flex;
    gap: 40px;
}

.dark {
    background-color: black !important;
    text-decoration: none !important;
    color: white;
}

.light {
    background-color: beige !important;
    text-decoration: none !important;
    color: black;
}

